.currency-form-container {
  background: #5c2fa0;
  opacity: 0.9;
  border-radius: 20px;
  margin: 20px 300px;
}

.currency-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 200px;
  padding: 20px 100px;
  justify-content: center;
  align-items: center;
}

.fa-exchange-alt {
  transform: scale(2);
}

.fa-long-arrow-alt-right {
  transform: scale(2);
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  height: 60px;
  min-width: 40px;
  background: #FFAE41;
  margin-top: 25px;
  margin-left: -25px;
}

.fa-caret-right {
  transform: scale(3);
}